
screenshots/
_screenshots/


/buildbuild/
bin/
obj/
.vs/
.ninja*
*.ninja
.clangd/
.vscode/
.cmake/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CPack*
CMake*.json